<div class="row-fluid">

					<div class="span12 responsive" data-tablet="span12 fix-offset" data-desktop="span12">
						<div class="portlet box grey">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i>{{"refund_query_query"| translate }}</div>
											<div class="tools">

												<a href="javascript:;" class="collapse"></a>

											</div>
										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form action="#" class="horizontal-form">

												<div class="row-fluid">
													<div class="span3">

														<div class="control-group">

															<label class="control-label" for="refundDatetime">{{"refund_query_date"| translate }}</label>
															<div class="controls">
																<div class="refundDatetime input-append date form_datetime">
																	<input type="text" style='height:24px' class="m-wrap span12" id="refundDatetime">
																	<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
																</div>


															</div>
														</div>

													</div>

													<div class="span3">

														<div class="control-group">

															<label class="control-label" for="refundStatus">{{"refund_query_status"| translate }}</label>

															<div class="controls">

																<select class="m-wrap span12"  ng-model='request.refundStatus' id="refundStatus">
																	<option value=0  >{{"refund_query_status_0"| translate }}</option>
																	<option value=1>{{"refund_query_status_1"| translate }}</option>
																	<option value=2>{{"refund_query_status_2"| translate }}</option>
																	<option value=3>{{"refund_query_status_3"| translate }}</option>
                                                                    <option value=4>{{"common_status_approve_1"| translate }}</option>
																	<option value=5>{{"common_status_approve_2"| translate }}</option>
																</select>

																<span class="help-block"></span>

															</div>

														</div>

													</div>

													<div class="span3">

														<div class="control-group">

															<label class="control-label" for="userId">{{"user_edit_name"| translate }}</label>

															<div class="controls">

																<select  class="m-wrap span12" ng-model='request.userId' id="userId">
																	<option value='' selected>{{"common_btn_all"| translate }}</option>
																	<option ng-repeat='item in users' value="{{item.UserId}}">{{item.UserName}}</option>
																</select>

																<span class="help-block"></span>

															</div>

														</div>

													</div>

                                                    <div class="span3 ">

														<div class="control-group">

															<label class="control-label" for="applicant">{{"refund_query_applicant"| translate }}</label>

															<div class="controls">

																<input name='applicant' type="text" id="applicant" class="m-wrap span12" placeholder="" ng-model='request.applicant' ng-maxlength='20'>

																<span class="help-block"></span>
															</div>

														</div>

													</div>
													<!--/span-->
												</div>

												<!--/row-->

												<div class="row-fluid">

													<a  ng-click='onQuery()' type="submit" class="btn grey"><i class="icon-search"></i> {{"common_btn__query"| translate }}</a>
												</div>

											</form>

											<!-- END FORM--> 

										</div>

						</div>

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-list-alt"></i>{{"refund_query_title"| translate }}</div>
							</div>

							<div class="portlet-body">
								<div ng-include="'refund/refund_list.html'"></div>
							</div>
						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

</div>