<!-- Modal -->
<div style='display:none' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h3 class="modal-title" style='text-align:center' id="myModalLabel">{{"tran_detail"| translate }}</h3>
      </div>
      <div class="modal-body form-horizontal">
      	<div class="row-fluid">
				<div class="span6 ">
					<div class="control-group">
							<label class="control-label" for="merchantOrderNo">{{"tran_order_id"| translate }}</label>
							<div class="controls">
								<input class="large " type="text" disabled ng-model='td.MerchantOrderNo' id="merchantOrderNo"/>
							</div>
					</div>
				</div>
				<div class="span6 ">
					<div class="control-group">
							<label class="control-label" for="productName">{{"tran_product_name"| translate }}</label>
							<div class="controls">
								<input class="large " type="text" disabled ng-model='td.ProductName' id="productName"/>
							</div>
					</div>
				</div>
		</div>

		<div class="row-fluid">

			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="currencyDesc">{{"tran_currency"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.CurrencyDesc' id="currencyDesc"/>
						</div>
				</div>
			</div>
			<div class="span6 ">
					<div class="control-group">
							<label class="control-label" for="productDesc">{{"tran_product_des"| translate }}</label>
							<div class="controls">
								<input class="large " type="text" disabled ng-model='td.ProductDesc' id="productDesc"/>
							</div>
					</div>
				</div>

		</div>


		<div class="row-fluid">

			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="merchantOrderAmount">{{"tran_amount"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.MerchantOrderAmount' id="merchantOrderAmount"/>
						</div>
				</div>
			</div>
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="merchantAccountBank">{{"tran_bank_name"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.MerchantAccountBank' id="merchantAccountBank"/>
						</div>
				</div>
			</div>

		</div>

      	<div class="row-fluid">
			<div class="span6 ">
		        <div class="control-group">
						<label class="control-label" for="payerName">{{"tran_pay_name"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.PayerName' id="payerName"/>
						</div>
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
						<label class="control-label" for="orderStatus">{{"tran_status"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.OrderStatus' id="orderStatus"/>
						</div>
				</div>
			</div>
			
		</div>

		<div class="row-fluid">
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="payerTelephone">{{"tran_pay_tel"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.PayerTelephone' id="payerTelephone"/>
						</div>
				</div>
			</div>
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="orderDateTime">{{"tran_order_date"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.OrderDateTime' id="orderDateTime"/>
						</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">	
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="payerEmail">{{"tran_pay_email"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.PayerEmail' id="payerEmail"/>
						</div>
				</div>
			</div>
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="merchantFee">{{"check_fee"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.MerchantFee' id="merchantFee"/>
						</div>
				</div>
			</div>
		</div> 
          
       <div class="row-fluid" ng-if='$scope.userInfo.roleId!=4'>
			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="settlementCurrency">{{"tran_clr_currency"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.SettlementCurrency' id="settlementCurrency"/>
						</div>
				</div>
			</div>

			<div class="span6 ">
				<div class="control-group">
						<label class="control-label" for="settlementAmount">{{"tran_clr_amount"| translate }}</label>
						<div class="controls">
							<input class="large " type="text" disabled ng-model='td.SettlementAmount' id="settlementAmount"/>
						</div>
				</div>
			</div>
			
		</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-remove-sign"></i>{{"common_btn_close"| translate }}</button>
      </div>
    </div>
  </div>
</div>
