<div class="row-fluid">

					<div class="span12">

						<div class="portlet box grey">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i>{{"user_edit_query"| translate }}</div>
											<div class="tools">

												<a href="javascript:;" class="collapse"></a>

											</div>

										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form name='userForm' class="horizontal-form">

												<div class="row-fluid">

													<div class="span4 ">

														<div class="control-group">

															<label class="control-label" for="userId">{{"user_edit_id"| translate }}</label>

															<div class="controls">
																<input name='userId' type="text" id="userId" class="m-wrap span12" placeholder="" ng-model='userId' ng-pattern="/[0-9]/">

																<span ng-show='userForm.userId.$dirty && userForm.userId.$invalid' class="error help-inline">{{"user_edit_id_error"| translate }}</span>
															</div>

														</div>
													</div>
													<!--/span-->

													<div class="span4 ">

														<div class="control-group">

															<label class="control-label" for="id">{{"user_edit_name"| translate }}</label>

															<div class="controls">

																<input name='userName' type="text" id="id" class="m-wrap span12" placeholder="" ng-model='userName' ng-maxlength='20'>

																<span ng-show='userForm.userName.$dirty && userForm.userName.$invalid' class="error help-inline">{{"user_edit_name_error"| translate }}</span>
															</div>

														</div>

													</div>

													<!--/span-->
												</div>

												<!--/row--> 

												<div class="row-fluid">
													<a  ng-click='onQuery()' class="btn grey"><i class="icon-search"></i> {{"common_btn__query"| translate }}</a>
												</div>

											</form>

											<!-- END FORM--> 

										</div>

						</div>

						<div class="portlet box grey">                           
							<div class="portlet-title">

								<div class="caption"><i class="icon-list-alt"></i>{{"user_edit_title"| translate }}</div>
							</div>

							<div class="portlet-body"> 
                                <form name='editUserForm'>
								<table ng-table="tableParams" class="table table-striped table-bordered table-hover">
									<thead>

										<tr>
											<tr>
											<th>{{"user_edit_id"| translate }}</th>
											<th>{{"user_edit_name"| translate }}</th>										
											<th class="hidden-480">{{"user_edit_time"| translate }}</th>
											<th class="hidden-480">{{"user_edit_status"| translate }}</th>
											<th class="hidden-480">{{"common_btn_option"| translate }}</th>
										</tr>
										</tr>

									</thead>
									<tbody>
								       <tr class="odd gradeX" ng-repeat='item in $data'>

											<td>{{item.UserId}}</td>

											<td>{{item.UserName}}</td>
										
											<td class="hidden-480">
												{{item.RegDatetime|dateFormatFilter}}
											</td>
											<td class="hidden-480">
												<span ng-if="!item.$edit">{{item.IsLocked|lockStatusFilter}}</span>
												<div ng-if="item.$edit"> 
													<input type='checkbox' ng-model="item.IsLocked" >{{"user_edit_status_1"| translate }}</input>									
												</div>
											</td>

											<td>
                                                <a ng-if="!item.$edit" href="" class="btn btn-default btn-xs" ng-click="onClickDetail(item)" ng-show="item.UserId==userInfo.userId"><i class="icon-edit"></i>{{"common_btn_edit"| translate }}</a>		
                                                <a class="btn btn-default btn-xs" ng-click="onClickDetail(item)" ng-show="item.UserId!=userInfo.userId"><i class="icon-external-link"></i>{{"common_btn_detail"| translate }}</a>									
											</td>

										</tr>
								    </tbody>
						    	</table>
                                     </form>
							</div>                               
						</div>

					</div>

				</div>

<div ng-include="'user/user_edit_detail.html'"></div>