<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>{{"pwd_chg_title"|translate}}</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>
								</div>

							</div>

							<div class="portlet-body form" >

								<!-- BEGIN FORM-->

								<form name='changePwd' action="#" class="form-horizontal">
									<div  ng-show='!isSuccess && errorMessage.length>0' class="alert alert-error">
										{{errorMessage}}
									</div>

									<div ng-show='isSuccess' class="alert alert-success">
										{{"common_msg_option"| translate }}
									</div>


									<div class="control-group">

										<label class="control-label" for="password">{{"pwd_chg_old"| translate }}</label>

										<div class="controls">
											<input name='oldpassword' class="span6 m-wrap" type="password" ng-model='password' id="password" required ng-minlength='8' ng-maxlength='12'/>
											<span ng-show='!isSuccess && changePwd.oldpassword.$dirty && changePwd.oldpassword.$invalid' class="error help-inline">{{"pwd_chg_old_error"| translate }}</span>
										</div>

									</div>
									<div class="control-group">

										<label class="control-label" for="newpassword">{{"pwd_chg_new"| translate }}</label>

										<div class="controls">
											<input name='newpassword' class="span6 m-wrap" type="password" ng-model='newpassword' id="newpassword" required ng-minlength='8' ng-maxlength='12'/>
											<span ng-show='!isSuccess && changePwd.newpassword.$dirty && changePwd.newpassword.$invalid' class="error help-inline">{{"user_pwd_error_new"| translate }}</span>

										</div>

									</div>

									<div class="control-group">

										<label class="control-label" for="newpassword2">{{"pwd_chg_confirm"| translate }}</label>

										<div class="controls">
											<input name='newpassword2' class="span6 m-wrap" type="password" id="newpassword2" ng-model='newpassword2'required ng-minlength='8' ng-maxlength='12'/>
											<span ng-show='!isSuccess && changePwd.newpassword2.$dirty && changePwd.newpassword2.$invalid' class="error help-inline">{{"user_pwd_error_confirm"| translate }}</span>
                                          
										</div>

									</div>
									<div class="row-fluid">

										<a ng-disabled="!changePwd.$valid" ng-click='onChangePassword()' type="submit" class="btn grey"><i class="icon-ok"></i>{{"common_btn_confirm"| translate }}</a>

										<a ng-click='onReset()' type="button" class="btn"><i class="icon-remove"></i>{{"common_btn_rest"| translate }}</a>                            

									</div>

								</form>

								<!-- END FORM-->       

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>
