<div class="row-fluid">
					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>{{"user_add_title"| translate }}</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>
								</div>

							</div>

							<div class="portlet-body form" >

								<!-- BEGIN FORM-->

								<form name="addUserForm" action="#" class="form-horizontal">

									<div  ng-show='!isSuccess && errorMessage.length>0' class="alert alert-error">
										{{errorMessage}}
									</div>

									<div ng-show='isSuccess' class="alert alert-success">
										{{"common_msg_option"| translate }}
									</div>

									<div class="control-group">
										<label class="control-label" for="roleId">{{"user_add_type"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<select class="span6 m-wrap" type="select"  ng-model='user.roleId' id="roleId">
												<option value=1>{{"user_add_type_1"| translate }}</option>
												<option value=2>{{"user_add_type_2"| translate }}</option>
												<option value=3>{{"user_add_type_3"| translate }}</option>
												<option value=4 selected="selected">{{"user_add_type_4"| translate }}</option>
											</select>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="userName">{{"user_add_name"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='userName' class="span6 m-wrap" type="text"  ng-model='user.userName' id="userName" required ng-minlength='1' ng-maxlength='20'/>
											<span ng-show='addUserForm.userName.$dirty && addUserForm.userName.$invalid' class="error help-inline">{{"user_add_name_error"| translate }}</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="password">{{"user_add_pwd"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='password' class="span6 m-wrap" type="password"  ng-model='user.password' id="password" required  ng-minlength='8' ng-maxlength='12'/>
											<span ng-show='addUserForm.password.$dirty && addUserForm.password.$invalid' class="error help-inline">{{"user_add_pwd_error"| translate }}</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="storeId">{{"user_add_merchant"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<select class="span6 m-wrap" type="select" ng-model='user.storeId' id="storeId">
												<option value=''></option>
												<option ng-repeat='item in merchants' value='{{item.MerchantId}}'>{{item.MerchantDesc}}</option>
											</select>
										</div>
									</div>

                                    <div class="control-group">
										<label class="control-label" for="userAccountBank">{{"user_new_bank_name"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='UserAccountBank' class="span6 m-wrap" type="text"  ng-model='user.UserAccountBank' id="userAccountBank" required ng-maxlength='50'/>
											<span ng-show='addUserForm.UserAccountBank.$error.required || (addUserForm.UserAccountBank.$dirty && addUserForm.UserAccountBank.$invalid)' class="error help-inline">{{"user_new_bank_name_error"| translate }}</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="userAccountNo">{{"user_new_bank_no"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='UserAccountNo' class="span6 m-wrap" type="text"  ng-model='user.UserAccountNo' required ng-maxlength='20' id="userAccountNo"/>
											<span ng-show='addUserForm.UserAccountNo.$error.required || (addUserForm.UserAccountNo.$dirty && addUserForm.UserAccountNo.$invalid)' class="error help-inline">{{"user_new_bank_no_error"| translate }}</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="userAccountName">{{"user_new_account_name"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='UserAccountName' class="span6 m-wrap" type="text"  ng-model='user.UserAccountName' required ng-maxlength='20' id="userAccountName"/>
											<span ng-show='addUserForm.UserAccountName.$error.required || (addUserForm.UserAccountName.$dirty && addUserForm.UserAccountName.$invalid)' class="error help-inline">{{"user_new_account_name_error"| translate }}</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="userSettlementPeriod">{{"user_new_t"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<select class="span6 m-wrap"  type="select"  ng-model='user.UserSettlementPeriod' ng-options="option.value as option.name for option in ts" id="userSettlementPeriod">
											</select>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="feevalue">{{"user_add_rate"| translate }}<font color="red">*</font></label>
										<div class="controls">
											<input name='Feevalue' class="span6 m-wrap" type="number"  ng-model='user.Feevalue' required ng-maxlength='20' id="feevalue"/>
											<span ng-show='addUserForm.Feevalue.$error.required || (addUserForm.Feevalue.$dirty && addUserForm.Feevalue.$invalid)' class="error help-inline">{{"user_new_fee_error"| translate }}</span>
										</div>

									</div>

								<!--
									<div class="control-group">
										<label class="control-label">初始状态</label>
										<div class="controls">
											<input class="span6 m-wrap" type="text"  ng-model='user.IsLocked'/>
										</div>
									</div>
								-->

								<div class="row-fluid">
									<a ng-disabled="!addUserForm.$valid" ng-click='onSubmit()' class="btn"><i class="icon-plus"></i>{{"common_btn_add"| translate }}</a>
								</div>

								</form>

								<!-- END FORM-->       

							</div>

						</div>

						
					</div>

				</div>